body{
  display:flex;
  flex-direction: column;
}
a{
  display:flex;
  justify-content:center;
  height:10rem;
  width:10rem;
  opacity:50%;
  background-color:cornflowerblue;
  box-shadow:0 0 1rem cornflowerblue;
  border-radius:1rem;
  margin:1rem;
  color:transparent;
}
a:nth-of-type(1){background-image:url("https://img.icons8.com/material/96/000000/rich-text-converter.png")}
a:nth-of-type(2){background-image:url('')}
a:nth-of-type(3){background-image:url('')}
a:nth-of-type(4){background-image:url('')}
a:nth-of-type(5){background-image:url('')}
a:nth-of-type(6){background-image:url('')}

@media (orientation:landscape){
  body{flex-direction:row}
  a{height:5rem;width:5rem;}
}
